<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>todo list</title>
  </head>
  <body>
    <div class="container">
      <h2>Todo List</h2>
      <div>
        <input type="text" />
        <button><i class="fas fa-plus-square"></i></button>
      </div>

      <hr />
      <div>
        <input type="text" />
        <button><i class="fas fa-search"></i></button>
      </div>
      <ul>
        <li>
          hi man
          <button><i class="fas fa-trash"></i></button>
        </li>
      </ul>
    </div>
  </body>
</html>
